footer {
  .footerflex{
    display:flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    align-self: center;
    padding-top:20px;
  }

  background-color:var(--color-black);
  height: 100px;
  h1{
    font-size: 20px;
    margin-right:60px;
  }
  h1:hover{
    color:var(--color-text-secondary);
    transition: 0.5s;
  }
  .media {
    display:flex;
    justify-content: space-around;
  }
  .fab{
    font-size: 50px;
    transition: 0.5s;
    margin-right: 10px;
  }
  .fa-instagram:hover{
    color:var(--color-instagram);
  }
  .fa-youtube:hover{
    color:var(--color-youtube);
  }
  .fa-facebook:hover{
    color:var(--color-facebook);
  }
  img{
    margin-top:15px;
  }
}

#btnScrollToTop{
  position: fixed;
  right:10px;
  bottom:10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background:var(--color-bg-secondary);
  box-shadow:0 0 10px rgba(0,0,0,0.25);
  border:none;
  color:var(--color-white);
  outline:none;
  cursor:pointer;
}

#btnScrollToTop:hover{
  background:var(--color-text-tertiary);
}
footer{
  .nom{
    margin-right:100px;
  }
}

@media screen and (max-width: $vw-medium) {

  footer{
    img{
      width: 80%;
      margin-top:15px;
    }
    .fab{
      font-size: 40px;
      margin-top:5px;
    }
  }

}