//STYLE DE NOTRE HEADER
.header-page{
  background-color:var(--color-black);
  margin-bottom:50px;
  .nav {
    display: flex;
    justify-content: space-between;

  }
  img {
    height:70px;
    width:70px;
    padding-top:10px;
    padding-bottom:10px;
  }
  ul {
    display: flex;
    align-items: center;
    text-align: center;
    padding-left:0;

  }
  li {
    justify-content: space-around;
    list-style-type: none;
    padding-right:20px;
  }
  .logotitre{
    display:flex;
    align-items: center;
  }
  a {
    color:var(--color-text-tertiary);
    text-decoration: none;
  }

}
a:hover{
  color:var(--color-instagram);
  transition:0.5s;
}

@media screen and (max-width: $vw-thin) {
  p{
    font-size: 10px;
  }
  h1{
    font-size: 12px;
  }
  h2{
    font-size: 13px;
  }
  a{
    font-size: 13px;
  }
  }